<!-- Smooth scroll up -->
  <script>
	$(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top
	        }, 1000);
	        return false;
	      }
	    }
	  });
	});
  </script>

<footer class="footer">
	<div class="container footie">
		<div class="span1"> </div>
		<div class="span10">
			<hr class="fullwide">
			<h2><a href="{{ site.baseurl }}/index.html">That Gurjot</a></h2>
			<h4>
				<a href="#top">Back to top</a> | 
				<a href="https://github.com/gsidhu/gsidhu.github.io" target="_blank"> Source </a> | 
				<a href="{{ site.baseurl }}/archive.html"> Archive </a>
			</h4>
			<h4> &copy; {{ site.time | date: '%Y' }}. Some rights reserved. Built with &#9829; and lots of chocolate. </h4>
		</div>
		<div class="span1"> </div>
	</div>
</footer>

