<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div class="container">
	<div class="span12">
	<div class="header">
		<h1 title="A Weblog of Things of No Substantial Importance"><a href="{{ site.baseurl }}/index.html" id="top">That Gurjot</a></h1>

		<h3> Witness the normal </h3>
		<hr class="fullwide">
		<nav class="navbar">
			<ul class="list-unstyled">
				<li><a href="{{ site.baseurl }}/index.html">Blog</a></li>
				<li><a href="{{ site.baseurl }}/bio.html">Bio</a></li>
				<li><a href="{{ site.baseurl }}/cv.html">CV</a></li>
				<li id="except"><a href="{{ site.baseurl }}/stalk.html">Stalk</a></li>
			</ul>
		</nav>
		<hr class="fullwide">
	</div>
	</div>

</div>
